html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
    width: auto;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.header{
    position: fixed;
    top:0; left:0; right:0;
    background: white;
    display: flex;
    justify-content:space-around;
    align-items:center;
    box-shadow: 3px 3px 8px 2px rgb(213, 210, 210);
    height: 60px;
    z-index: 100;
}
.logo{
    text-decoration: none;
    color:#333;
    font-size: 25px;
    font-weight: bold;
}
.logo:hover,
.header span:hover{
    color: rgb(246, 142, 159);
    transition: 0.2s;
}
.header span{
    color: pink;
}
.navbar{
    display: flex;
}
.navbar li{
    padding: 0px 15px;
}
.navbar li a{
    text-decoration: none;
    color:#666;
}
.navbar li a:hover,.icons a:hover{
    color: rgb(204, 120, 134);
    transition: 0.5s;
}
.icons a{
    text-decoration: none;
    color:#333;
    padding-right: 15px;
}
.home{
    display: flex;
    align-items: center;
    height: 90vh;
    background:url(../flowershop/images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 120px;
}
.home .content{
    max-width: 40rem;
}
.home .content h1{
    font-size: 40px;
    color:#333;
    font-weight: bold;
}
.home .content h3{
    color: rgb(204, 120, 134);
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.home .content p{
    font-size: 15px;
    color:#999;
    border-bottom: 20px;
    line-height: 1.5;
    margin-bottom: 18px;
}
.home .content .btn,
.row .content .btn{
    font-size: 15px;
    text-decoration: none;
    color:#fff;
    background-color: #333;
    border-radius: 20px;
    padding: 8px 20px;
}
.home .content .btn:hover,
.row .content .btn:hover,
.contact .row .btn:hover{
    background-color: rgba(179, 119, 129, 0.88);
    transition: 0.3s;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.about .heading,
.products .heading,
.review .heading,
.contact .heading{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    background:rgba(255, 51, 153,.05);
    margin-bottom: 30px;
    margin-top: 40px;
    font-weight: bold;
    padding: 20px 0px;
    box-shadow:5px 5px 5px 1px rgb(245, 224, 228);
}
.about .heading span,
.products .heading span,
.review .heading span,
.contact span{
    color: rgb(239, 110, 132);
}
.about .row{
    display: flex;
}
.about .row .video-container{
    display: flex;
    justify-content:space-between;
    position: relative;
    flex:1 1 40rem;
}
.about .row .video-container video{
    width: 100%;
    position: absolute;
}
.row .video-container h3{
    position: absolute;
    top: 45%;
    font-size: 30px;
    background: white;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    mix-blend-mode: screen;
}
.row .content{
    margin-left: 20px;
}
.row .content h3{
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0px;

}
.row .content p{
    color:#999;
    line-height: 1.2;
    margin-bottom: 20px;
}
.row .content .btn{
    margin: 20px 0px;
}
.icons-container{
    background-color: rgb(227, 216, 216);
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
    padding: 50px 60px;
}
.icons-container .icons{
    background-color: white;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    padding: 15px 40px;
    border-radius:3px 3px 3px 3px;
}
.icons-container .icons .info{
    line-height: 1.3;
    margin-left: 10px;
    font-size: 15px;
}
.icons-container .icons .info h3{
    font-weight: bold;
}
.icons-container .icons .info p{
    color:#999;
}
.products .box-container{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.products .box-container .box,
.review .box-container .box,
.contact .row form,
.contact .row .image img{
    box-shadow: 0px 5px 10px #e0dddd;
    border-radius: 8px;
    position: relative;
}
.products .box-container .box .discount{
    position: absolute;
    top: 5px; left: 5px;
    background:rgba(255, 51, 153, 20%);
    padding: 3px;
    color: rgb(239, 110, 132);
    border-radius: 3px;
}
.products .box-container .box .image{
    width: 100%;
}
.products .box-container .box .image img{
    height: 250px;
}
.products .box-container .box .image .icons{
    display: flex;
    justify-content: space-around;
    background: rgb(239, 110, 132);
    padding: 10px;
}
.products .box-container .box .image .icons a{
    color: white;
    height: 20px;
    line-height: 20px;
}
.products .box-container .box .image .icons a:hover{
    background: rgb(239, 110, 132);
    color: red;
    transition: 0.5s;
}
.products .box-container .box .content{
    text-align: center;
    line-height: 1.3;
}
.products .box-container .box .content h3{
    font-size: 20px;
    font-weight: bold;
    color:#999;
}
.products .box-container .box .price{
    color: rgb(239, 110, 132);
    font-weight: bold;
}
.products .box-container .box .content span{
    color:#999;
    font-size: 10px;
    margin-left: 5px;
    text-decoration: line-through;
}
.review .box-container{
    display: flex;
    justify-content:space-evenly;
}
.review .box-container .box{
    padding: 20px;
    margin: 0px 15px;
    position: relative;
}
.review .box-container .box .stars{
    color: rgb(239, 110, 132);
    margin-bottom: 10px;
}
.review .box-container .box p{
    line-height: 1.3;
    color:#999;
    font-size: 15px;
    margin-bottom: 10px;
}
.review .box-container .user{
    display: flex;
}
.review .box-container .user img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.review .box-container .user-info{
    display: flex;
    flex-direction:column;
    justify-content:center;
}
.review .box-container .user-info h3{
    font-weight: bold;
}
.review .box-container span{
    position: absolute;
    bottom: 20px; right: 40px;
    font-size: 80px;
    color:rgb(220, 216, 216);
}
.contact .row{
    height: fit-content;
    display: flex;
    justify-content:center;
    gap:1.5rem;
    align-items: center;
}
.contact .row form{
    width: 500px;
    display: flex;
    flex-direction:column;
    padding: 10px 20px;
    line-height: 1.5;
}
.contact .row .btn{
    margin-top: 15px;
    font-size: 15px;
    color:#fff;
    background-color: #333;
    border-radius: 20px;
    padding: 8px 20px;
    width: 20%;
}
.contact .row textarea{
    margin-top: 15px;
}
.contact .row .image img{
    width: 350px;
    margin-left: 20px;
}
.footer .box-container{
    display: flex;
    justify-content:space-evenly;
    margin-top: 30px;
    line-height: 1.5;
}
.footer .box-container .box{
    display: flex;
    flex-direction:column;
}
.footer .box-container .box h3{
    padding: 10px 0px;
    font-weight: bold;
    color: #333;
}
.footer .box-container .box a{
    text-decoration: none;
    font-size: 16px;
    color: #333;
}
.footer .box-container .box a:hover{
    color: rgb(239, 110, 132);
    text-decoration: underline;
    transition: 0.2s;
}
.footer .box-container .box img{
    margin-top: 10px;
}
.footer .copyright{
    margin-top: 10px;
    padding: 20px 0px;
    text-align: center;
    color:white;
    background: rgb(239, 110, 132);
}
.footer .copyright span{
    color: rgb(237, 237, 55);
}